* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-container {
    color: #fff;
    background: linear-gradient(to right, #480048, #c04848);
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.menu {
    width: 90%;
    display: flex;
    justify-content: center;
}

.login {
    margin-left: 20px;
}

.signup {
    margin-left: auto;
}

.header-container {
    color: #5995DA;
    background-color: #ffc107;
    display: flex;
    justify-content: center;
    font-weight: 800;
}

.header {
    width: 90%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-img {
    width: 100%;
}

.logo {
    width: 50%;
}

@media only screen and (max-width:992px) {
    .header {
        justify-items: center;
        flex-flow: column;
    }
}

.photo-grid-container {
    display: flex;
    justify-content: center;
}

.photo-grid {
    width: 900px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.photo-grid-item {
    border: 1px solid white;
    width: 300px;
    height: 300px;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer-item {
    border: 1px solid white;
    background-color: #5995DA;
    height: 200px;
    flex: 1;
}

.footer-social img {
    width: 100%;
}

.footer-one,
.footer-three {
    background-color: #f6e9fe;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width:600px) {
    .footer-three {
        align-items: normal;
    }
}

.footer-menu {
    color: #5995DA;
    cursor: pointer;
    list-style: none;
    display: flex;
    padding: 10px 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-menu li {
    margin: 0px 10px;
}